<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ResizingServer.Host" value="http://192.168.10.20:8829/"/>
    <add key ="ResizingServer.UploadUrl" value="http://192.168.10.20:8829/api"/>
    <add key ="ResizingServer.ApiKey" value="A3381DFB-8416-468D-8DB1-AA3FF1F6610A"/>
  </appSettings>
</configuration>