<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ResizingServer.Host" value="http://192.168.1.99:43287/"/>
    <add key ="ResizingServer.UploadUrl" value="http://192.168.1.99:43287/api"/>
    <add key ="ResizingServer.ApiKey" value="48DFD0EE-61A2-4CB5-B1D6-33E917A83202"/>
  </appSettings>
</configuration>