<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageResizer" version="4.1.8" targetFramework="net45" />
  <package id="ImageResizer.Plugins.DiskCache" version="4.1.8" targetFramework="net45" />
  <package id="ImageResizer.Plugins.WebP" version="4.1.8" targetFramework="net472" />
  <package id="ImageResizer.WebConfig" version="4.1.8" targetFramework="net45" />
  <package id="Imazen.WebP" version="11.0.0" targetFramework="net472" />
  <package id="Imazen.WebP.NativeRuntime.win-x64" version="1.6.1" targetFramework="net472" />
  <package id="Imazen.WebP.NativeRuntime.win-x86" version="1.6.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client.zh-Hans" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core.zh-Hans" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin.zh-Hans" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
</packages>