<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  </configSections>
  <resizer>
    <diskcache enabled="true" />
    <sizelimits imageWidth="1000" imageHeight="1000" />
    <clientcache minutes="10080" />
    <!--<watermarks>
      <otherimages path="~/Utils" right="20" bottom="20" width="20" height="20" />
      <image name="test1" path="~/Utils/watermark1.png" imageQuery="s.alpha=0.5" right="50" bottom="0"/>
      <image name="test2" path="~/Utils/watermark2.png" imageQuery="s.alpha=0.5" right="20" bottom="0"/>
      <text name="filltext" text="#{text}" align="middlecenter" fill="true" font="Courier New"/>
      <text name="glow" text="#{text}" align="middlecenter" glowWidth="10" glowColor="ff8833" fill="true" font="Courier New"/>
      <text name="outglow" text="#{text}" align="middlecenter" outlineWidth="2" outlineColor="white" glowWidth="10" glowColor="ff8833" fill="true" font="Courier New"/>
      <text name="filltext45" text="#{text}" angle="45" align="middlecenter" fill="true" font="Courier New"/>
      <text name="test2" text="Hello #{name}!" vertical="true" align="topright"/>
      <image name="gradientbg" path="~/gradient.png" drawAs="background" imageQuery="color1=black&amp;color2=white&amp;angle=45" top="0" right="0" left="0" bottom="0"/>
      <group name="storyBG">
        <image path="~/watermarks/Sun_64.png" align="topleft" width="100%" height="100%" relativeTo="canvas" drawAs="Background"/>
      </group>
    </watermarks>-->
    <plugins>
      <!--<add name="FriendlyUrls" />-->
      <!--<add name="Image404" />-->
      <!--<add name="VirtualFolder" virtualPath="~/Upload" physicalPath="D:\WWWRoot\IYueSao.Management\Upload" vpp="true" />
      <add name="VirtualFolder" virtualPath="~/Content" physicalPath="D:\WWWRoot\IYueSao.Management\Content" vpp="true" />-->
      <!--<add name="Watermark"/>-->
    <!--<add name="DiskCache" />-->
    </plugins>
  </resizer>
  <appSettings>
    <add key="UploadRouteUrl" value="upload"/>
    <add key="ApiKey" value="48DFD0EE-61A2-4CB5-B1D6-33E917A83202"/>
    <add key="AllowFolders" value="face,images"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules></system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    <add name="ImageResizingModule" type="ImageResizer.InterceptModule" /></modules>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers><validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>